*
!/scripts
!/testbenches
!.gitignore
!Readme
!LICENSE
!register_memory.v
!register_memory_tb.v
!alu.v
!alu_tb.v
!pc.v
!pc_tb.v
!utilities.v
!single_instruction.v
!single_instruction_tb.v
!multiple_instructions.v
!consecutive_instructions_tb.v
!instructions_i_tb.v
!Pipfile
!Pipfile.lock
!arisco.consecutive_instructions_tb
!fusesoc.conf
!arisco.core
!README.md
!tests.sh
!test_instructions.s
!assembly_instructions_tb.v
!assembly_tb.v
!branch_instructions_tb.v
